.bug-card {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  font-family: 'KosugiMaru', sans-serif;
  transition: transform 0.2s ease-in-out;
  max-width: 600px;
  margin: 20px auto;
}

.bug-card:hover {
  transform: translateY(-5px);
}

.bug-img {
  width: 80%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .bug-img {
    width: 200px;
    max-width: 100%;
  }
}


.bug-card h2 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.bug-card p {
  font-size: 0.95rem;
  margin: 6px 0;
}

.bug-card .desc {
  font-size: 0.9rem;
  margin: 12px 0;
}

.share-btn {
  margin-top: 10px;
  background-color: #e0ffe0;
  border: 1px solid #89c789;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.share-btn:hover {
  background-color: #b8f0b8;
}

.screenshot-mode {
  width: 600px !important;
  transform: scale(1) !important;
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  z-index: 9999 !important;
  pointer-events: none;
  background: white;
  translate: -50% -50%;
}